In [3]:
year = 2024

if year >=2000:
    print('we are in the 21st century!')

we are in the 21st century!

In [4]:
year = 1990

if year >= 2000:
    print('we are in the 21st century!')
else: print ('we aint in teh 21st century quite yet')

we aint in teh 21st century quite yet

In [5]:
#else and elif always needs to be paired with an if statement
#but if statements can be standalone

In [9]:
year = 1740

if year >= 2000:
    print ('its the 21st century')
elif year>= 1900:
    print('tis the 20 century')
elif year >= 1800:
    print ('maam youre in the 19th century')
elif year >= 1700:
    print ('bruv you in the 18th century man')
else: print ('you\'re wayyyyyy back in time')

bruv you in the 18th century man

In [10]:
day_of_week = 'Saturday'

if day_of_week == 'Saturday' or day_of_week == 'Sunday':
    print('tis the weekend homie')
else: print ('lol its a weekday soz')

tis the weekend homie

In [21]:
def eye_exam_covered (age, qualifyingcondition, time_since_lastexam):
    if age <= 19:
        if time_since_lastexam >=12:
            return "you are eligible for one major eye exam and minor assessments"
        else: return "it has not been 12 months since your last exam"
    elif 19 < age <= 64:
        if qualifyingcondition == True:
            if time_since_lastexam >= 12:
                print (' you are eligible for 1 major eye exame and 2 additional follow ups')
            else: return 'You are not eligible for any eye exams'
        else: return ' You do not have any qualifying medical conditions'
    elif age >= 65:
        if time_since_lastexam >=18:
            return "you are eligible for 1 major eyes exame and 2 additional follow ups"
        else: return "It has not been 18 months since your last assessment"
    else: return "Invalid age input!"

In [13]:
eye_exam_covered(19, 12, 2)

'it has not been 12 months since your last exam'

In [17]:
eye_exam_covered (27, True, 1)

'You are not eligible for any eye exams'

In [22]:
eye_exam_covered (69, False, 21)

'you are eligible for 1 major eyes exame and 2 additional follow ups'

In [23]:
#lists
vowels = ['a', 'e', 'i', 'o', 'u']
print (vowels)

['a', 'e', 'i', 'o', 'u']

In [24]:
empty_list = []
type (empty_list)

list

In [25]:
empty_list2 = list()

In [26]:
scores = [90, 80, 23, 45, 60]
grades = ['K', 1, 2, 4,5, 7, 3]
summary_funcs = [len, min, max, sum]

In [27]:
mystery_solvers = [
    ['Sherlock', 'Watson'],
    ['Scooby ', 'Shaggy', 'Velma', 'Daphne', 'Fred'],
    'Nancy Drew'
]

In [28]:
grades [3]

4

In [29]:
grades [ 2: 7]

[2, 4, 5, 7, 3]

In [30]:
grades [ 13] #throws up an error because this index is out of range

IndexError: list index out of range

In [31]:
'e' in vowels

True

In [32]:
#lists are mutable -> modified in place
#strings and numbers are immutable  - when we update them we replace the value entirely

In [33]:
perfect_squares = [1, 4, 9, 16, 25, 37, 49]
perfect_squares [5] = 36
print(perfect_squares)

[1, 4, 9, 16, 25, 36, 49]

In [35]:
sidra = ['bread', 'cheese', 'bread']
kaylie = sidra
print(kaylie)

['bread', 'cheese', 'bread']

In [36]:
sidra[1] = 'tomato'
sidra

['bread', 'tomato', 'bread']

In [37]:
kaylie

['bread', 'tomato', 'bread']

In [39]:
sidra = 'cheese sandwich'
kaylie = sidra
print (kaylie)
print (sidra)

cheese sandwich
cheese sandwich

In [41]:
sidra = 'tomato sandwich'
sidra

'tomato sandwich'

In [42]:
kaylie

'cheese sandwich'

In [43]:
a = '1'
b = a

In [44]:
a = '2'
a

'2'

In [45]:
b

'1'

In [46]:
a = [1, 2]
b = a
print (a)
print (b)

[1, 2]
[1, 2]

In [47]:
a [0] = 1000
print(a)
print( b)

[1000, 2]
[1000, 2]

In [48]:
combo = ['burgers', 'fries', 'drink']
combo

['burgers', 'fries', 'drink']

In [49]:
kid_meal = list(combo)
kid_meal

['burgers', 'fries', 'drink']

In [50]:
combo [0] = 'chicken sando'
combo

['chicken sando', 'fries', 'drink']

In [51]:
kid_meal #remains unchanged because we made an independent copy of combo

['burgers', 'fries', 'drink']

In [52]:
len (perfect_squares)

7

In [53]:
max (perfect_squares)

49

In [54]:
sum (perfect_squares)

140

In [55]:
perfect_squares

[1, 4, 9, 16, 25, 36, 49]

In [56]:
'cat ' + 'doggo'

'cat doggo'

In [58]:
letters = ['a', 'b', 'c']
numbers = [1, 2, 3]
characters = letters + numbers
characters

['a', 'b', 'c', 1, 2, 3]

In [59]:
letters *3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [60]:
numbers *2

[1, 2, 3, 1, 2, 3]

In [61]:
rainbow = ['violet', 'indigo', 'green', 'yellow', 'orange', 'red']
rainbow

['violet', 'indigo', 'green', 'yellow', 'orange', 'red']

In [62]:
rainbow.append('unicorn')
rainbow

['violet', 'indigo', 'green', 'yellow', 'orange', 'red', 'unicorn']

In [63]:
rainbow.extend(['magenta', 'pink']) #unpacks this list and adds it to the end of the previous list
rainbow

['violet',
 'indigo',
 'green',
 'yellow',
 'orange',
 'red',
 'unicorn',
 'magenta',
 'pink']

In [64]:
rainbow.extend('pale pink')
rainbow

['violet',
 'indigo',
 'green',
 'yellow',
 'orange',
 'red',
 'unicorn',
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k']

In [65]:
rainbow.append ('silly sauce')
rainbow

['violet',
 'indigo',
 'green',
 'yellow',
 'orange',
 'red',
 'unicorn',
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 'silly sauce']

In [66]:
new_rainbow = rainbow.append ('dark noir')
print(new_rainbow)

None

In [70]:
print(rainbow)
rainbow

['violet', 'indigo', 'green', 'yellow', 'orange', 'red']

['violet', 'indigo', 'green', 'yellow', 'orange', 'red']

In [68]:
rainbow.remove ('p')
rainbow

['violet',
 'indigo',
 'green',
 'yellow',
 'orange',
 'red',
 'unicorn',
 'magenta',
 'pink',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 'silly sauce',
 'dark noir']

In [69]:
del rainbow[-13:]
rainbow

['violet', 'indigo', 'green', 'yellow', 'orange', 'red']

In [75]:
fruits = ['pineapple', 'banana', 'kiwi', 'mangoes']
print(fruits.sort()) #cos this is a function, there's nothing to print, but it will change the original string
print(fruits)

None
['banana', 'kiwi', 'mangoes', 'pineapple']

In [72]:
veggies = ['potato', 'celery', 'bell pepper', 'onion', 'cabbage']
print(sorted(veggies))
print(veggies)

['bell pepper', 'cabbage', 'celery', 'onion', 'potato']
['potato', 'celery', 'bell pepper', 'onion', 'cabbage']

In [74]:
sorted('kaylie')

['a', 'e', 'i', 'k', 'l', 'y']

In [76]:
def last_letter (text):
    return text[-1]

In [78]:
last_letter(kaylie)

'h'

In [79]:
sorted (veggies, key=last_letter)

['cabbage', 'onion', 'potato', 'bell pepper', 'celery']

In [80]:
#tuples
#like lists they are ordered collections of values
#but they are immutable unlike lists!
mutable_synonyms = ('changeable', 'fluctuaring', 'inconstant', 'variable')
mutable_synonyms

('changeable', 'fluctuaring', 'inconstant', 'variable')