In [30]:
def c_to_f(degrees_c):
    ''' convert degrees from celsius to fahrenheit''' #doc string, briefly describes what the function does and appears when you use the help function against this function
    degrees_f = (9/5) * degrees_c +32
    return degrees_f

In [27]:
c_to_f(150)

302.0

In [15]:
def divide (dividend, divisor):
    answer = dividend/divisor
    return answer

In [16]:
divide (5, 3)

1.6666666666666667

In [18]:
def salesTax (price, taxrate = 0.13):
    sales_tax = price * taxrate
    return sales_tax

In [19]:
salesTax (5)

0.65

In [11]:
salesTax (5, 0.20 )

1.0

In [22]:
def calc_total_bill (cost, tax_rate = 0.13, tip_rate= 0.15):
    tax = cost * tax_rate
    tip = cost * tip_rate
    total = cost + tax + tip
    return total

In [23]:
calc_total_bill ( 90)

115.2

In [24]:
calc_total_bill (90) + salesTax (20)

117.8

In [25]:
help (print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [28]:
help(c_to_f)

Help on function c_to_f in module __main__:

c_to_f(degrees_c)
    convert degrees from celsius to fahrenheit

In [31]:
"let's see if this works"

"let's see if this works"

In [32]:
""" I'm am going 
to type across
,ultiple lines"""

" I'm am going \nto type across\n,ultiple lines"

In [33]:
#escape sequences
'''
\' single quote
\" double quote
\\ BACKSLASH
\t Tab
\n new line
\r carriage return

'''

'\n\' single quote\n" double quote\n\\ BACKSLASH\n\t Tab\n\n new line\n\r carriage return\n\n'

In [34]:
print ('carriage return \r 123')

 123iage return

In [35]:
print( 'this is: \t a tab')

this is: 	 a tab

In [36]:
print( 'this is a backslash: \\')

this is a backslash: \

In [37]:
print (' this is a single quote: \'')

 this is a single quote: '

In [38]:
print ('this is a double quote \" \" ')

this is a double quote " "

In [39]:
'hello' * 4

'hellohellohellohello'

In [40]:
'hello' + ' ' + 'world!'

'hello world!'

In [41]:
'apple' == 'Apple'

False

In [42]:
20 == '20'

False

In [43]:
first_name = 'Ada'
last_name = 'Lovelace'

In [44]:
first_name[0]

'A'

In [45]:
last_name[4]

'l'

In [46]:
last_name[-1]

'e'

In [47]:
last_name[ :4]

'Love'

In [48]:
last_name [1:4]

'ove'

In [49]:
last_name [2:6]

'vela'

In [50]:
last_name[-6:-1]

'velac'

In [56]:
last_name [3:]

'elace'

In [57]:
phone_number = '+1 555-123-4567'

In [59]:
phone_number [3:6]

'555'

In [67]:
phone_number [ 3: 12]

'555-123-4'

In [60]:
len(phone_number)

15

In [61]:
job_quals = 'The ideal candidate must have skills in Python, Java, R and microsoft suite'

In [62]:
'success' in job_quals

False

In [63]:
'Python' in job_quals

True

In [64]:
'python' in job_quals

False

In [68]:
len(job_quals)

75

In [69]:
job_quals.lower()

'the ideal candidate must have skills in python, java, r and microsoft suite'

In [70]:
'I am not yelling'.upper()

'I AM NOT YELLING'