In [4]:
#sets 
#mutable
#unordered and distinct

things = {'coat', 'lock', 'box', 'book', 'apple', 'xylophone', 'lock', 'book'}

In [5]:
things

{'apple', 'book', 'box', 'coat', 'lock', 'xylophone'}

In [6]:
'lock' in things

True

In [7]:
'brush' in things

False

In [8]:
things.add('mirror')

In [9]:
things

{'apple', 'book', 'box', 'coat', 'lock', 'mirror', 'xylophone'}

In [10]:
rainbow = {'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet'}
olympic_flag = {'red', 'green', 'yellow', 'blue', 'black'}

In [11]:
rainbow.difference(olympic_flag)

{'indigo', 'orange', 'violet'}

In [12]:
olympic_flag.difference(rainbow)

{'black'}

In [13]:
#symmetric difference: find the value that are only in one of the two sets
#aka combines teh output we saw earlier

rainbow.symmetric_difference(olympic_flag)

{'black', 'indigo', 'orange', 'violet'}

In [14]:
#intersection: findt eh values that two sets have in common

rainbow.intersection(olympic_flag)

{'blue', 'green', 'red', 'yellow'}

In [15]:
#union: combines the two sets to get the unique values in both
rainbow.union(olympic_flag)

{'black', 'blue', 'green', 'indigo', 'orange', 'red', 'violet', 'yellow'}

In [16]:
rainbow-olympic_flag

{'indigo', 'orange', 'violet'}

In [17]:
olympic_flag-rainbow

{'black'}

In [18]:
#dictionaries
#Key:value pairs
#ordered and mutable
#ever key in a dictionary is unique

In [19]:
capitals = {'Canada': 'Ottawa', 
            'USA': 'Washington D.C.',
            'Mexico': 'Mexico city'}
capitals

{'Canada': 'Ottawa', 'USA': 'Washington D.C.', 'Mexico': 'Mexico city'}

In [20]:
olympic_cities = {'2020': 'Tokyo', '2016': 'Rio', '2012': 'London'}

In [21]:
olympic_cities

{'2020': 'Tokyo', '2016': 'Rio', '2012': 'London'}

In [22]:
all_olympic_hosts = {'summer': olympic_cities,
                     'winter': {2022: 'beijing', 2018: 'pyeongchange'}}
all_olympic_hosts

{'summer': {'2020': 'Tokyo', '2016': 'Rio', '2012': 'London'},
 'winter': {2022: 'beijing', 2018: 'pyeongchange'}}

In [23]:
empty_dictionary = dict()

In [24]:
empty_dictionary

{}

In [27]:
olympic_cities

{'2020': 'Tokyo', '2016': 'Rio', '2012': 'London'}

In [28]:
olympic_cities['2016']

'Rio'

In [29]:
olympic_cities[2016]

KeyError: 2016

In [30]:
all_olympic_hosts[2020]

KeyError: 2020

In [31]:
olympic_cities.get(2004, 'Athens')

'Athens'

In [32]:
olympic_cities

{'2020': 'Tokyo', '2016': 'Rio', '2012': 'London'}

In [33]:
olympic_cities(2016)

TypeError: 'dict' object is not callable

In [34]:
olympic_cities.get(2004)

In [35]:
#get method provides a safe way to work with dictionary value

#my_dict.get(key, default)
#'key: key whose value you want to retrieve
#default: the value to return if the key is not found in the dictionary
# if no default value is provided, it will return None
#

In [36]:
olympic_cities

{'2020': 'Tokyo', '2016': 'Rio', '2012': 'London'}

In [37]:
2016 in olympic_cities

False

In [38]:
'2016' in olympic_cities

True

In [39]:
olympic_cities[2016]

KeyError: 2016

In [40]:
olympic_cities['2016']

'Rio'

In [41]:
olympic_cities['2020']

'Tokyo'

In [42]:
all_olympic_hosts['2022']

KeyError: '2022'

In [43]:
all_olympic_hosts

{'summer': {'2020': 'Tokyo', '2016': 'Rio', '2012': 'London'},
 'winter': {2022: 'beijing', 2018: 'pyeongchange'}}

In [44]:
olympic_cities['2008']

KeyError: '2008'

In [45]:
olympic_cities

{'2020': 'Tokyo', '2016': 'Rio', '2012': 'London'}

In [46]:
olympic_cities[2008] = 'Barcelona'

In [47]:
olympic_cities

{'2020': 'Tokyo', '2016': 'Rio', '2012': 'London', 2008: 'Barcelona'}

In [48]:
olympic_cities[2008] = 'Beijing'

In [49]:
all_olympic_hosts['summer'] [ '2020']

'Tokyo'

In [50]:
#if you use quotation marks in the dictionary, then you need to keep sing them when you retrieve the data

In [51]:
del olympic_cities ['2020']

In [52]:
olympic_cities

{'2016': 'Rio', '2012': 'London', 2008: 'Beijing'}

In [53]:
all_olympic_hosts

{'summer': {'2016': 'Rio', '2012': 'London', 2008: 'Beijing'},
 'winter': {2022: 'beijing', 2018: 'pyeongchange'}}

In [54]:
all_olympic_hosts.keys

In [55]:
all_olympic_hosts.keys()

dict_keys(['summer', 'winter'])

In [56]:
olympic_cities.values()

dict_values(['Rio', 'London', 'Beijing'])

In [57]:
if 'London' in olympic_cities.values():
    print ("Londond was a host city!")
else: print( "London was not a host city")

Londond was a host city!

In [58]:
if 'Toronto' in olympic_cities.values():
    print ("Toronto was a host city!")
else: print( "Toronto was not a host city")

Toronto was not a host city

In [59]:
all_olympic_hosts['winter'].items()

dict_items([(2022, 'beijing'), (2018, 'pyeongchange')])

In [60]:
vowels = ['a', 'e', 'i', 'o', 'u']

In [61]:
for vowel in vowels:
    print(vowel)

a
e
i
o
u

In [62]:
for i in ['monday', 'tuesday', 'wednesday']:
    print(i)

monday
tuesday
wednesday

In [63]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [64]:
for i in range (7):
    print(i, i*2)

0 0
1 2
2 4
3 6
4 8
5 10
6 12

In [67]:
input_files = ['data01.csv', 'data02.csv', 'data03.csv', 'data04.csv']
output_files =[]

for i in input_files:
    output_file_name =  i.replace('.csv', '.xlsx')
    output_files.append(output_file_name)

In [68]:
output_files

['data01.xlsx', 'data02.xlsx', 'data03.xlsx', 'data04.xlsx']

In [78]:
numbers = [1, 10, 100, 1000]
for idx, val in enumerate(numbers):
    print(idx, val)
    numbers[idx] = val *2

0 1
1 10
2 100
3 1000

In [75]:
numbers

[2, 20, 200, 2000]

In [77]:
stops = ['Yonge-bloor', 'College', 'Queen', 'King', 'Union']
for idx, stop in enumerate(stops):
    print(idx, stop)

0 Yonge-bloor
1 College
2 Queen
3 King
4 Union

In [79]:
for i, val in enumerate('numbers'):
    print (i, val)

0 n
1 u
2 m
3 b
4 e
5 r
6 s

In [80]:
lats = (43.650, 45.056, 12.456)
lons = (280.094, 234.023, -14.095)

for i, j in zip(lons, lats):
    print( i, j)

280.094 43.65
234.023 45.056
-14.095 12.456

In [82]:
countdown = 10
while countdown >0:
    print(countdown)
    countdown-=1

10
9
8
7
6
5
4
3
2
1

In [85]:
while True:
    password = input("What's the password?")
    if password.lower() == 'open sesame':
        print("you're in!")
        break
print('done iterating!')

you're in!
done iterating!

In [90]:
countdown = 10
while countdown>0:
    print(countdown)
    if countdown == 3:
        print('we ar ebreaking the loop early soz')
        break
    countdown -=1
print('dont iterating')

10
9
8
7
6
5
4
3
we ar ebreaking the loop early soz
dont iterating

In [91]:
wishes = 3

while wishes >0:
    wish = input("Make a wish!")
    if 'infinite wishes' in wish.lower():
        print("You can't do that")
        
    else: print ("wish granted!")
    wishes -=1
print("You have used up all your wishes")

wish granted!
wish granted!
You can't do that
You have used up all your wishes

In [92]:
wishes = 3

while wishes >0:
    wish = input("Make a wish!")
    if 'infinite wishes' in wish.lower():
        print("You can't do that")
        continue #this statement makes sure the next block is not executed
    #so asking for infinite wishes doesn't use up a wish
    else: print ("wish granted!")
    wishes -=1
print("You have used up all your wishes")

You can't do that
wish granted!
wish granted!
wish granted!
You have used up all your wishes